name: Deploy Astro Site

permissions:
  contents: write

on:
  push:
    branches:
      - main
      - gh-pages
    paths:
      - 'src/**/*.jpg'
      - 'src/**/*.jpeg'
      - 'src/**/*.png'
      - 'src/**/*.webp'
      - 'package.json'
      - 'astro.config.mts'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the source repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build the Astro site
        run: npm run build

      # - name: Deploy to photography-portfolio repository
      #   uses: JamesIves/github-pages-deploy-action@v4
      #   with:
      #     folder: dist

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: gh-pages
